In [6]:
oscar = {
    "actor": ["Will Smith", 'Anthony Hopkins', 'Joaquin Phoenix'],
    "movie": ["King Richard", 'The Father', 'Joker'],
    "year": ["2022", '2021', '2020']
}

In [7]:
import pandas as pd          # importing pandas library

In [8]:
df = pd.DataFrame(oscar)          # passing the oscars dictionary in DataFrame

In [9]:
df        # printing the DataFrame

             actor         movie  year
0       Will Smith  King Richard  2022
1  Anthony Hopkins    The Father  2021
2  Joaquin Phoenix         Joker  2020

In [10]:
df.columns         # looking the columns

Index(['actor', 'movie', 'year'], dtype='object')

In [11]:
df.columns = ['best_actor', 'movie_name', 'year']       # changing column names

In [12]:
df.columns         # display column names

Index(['best_actor', 'movie_name', 'year'], dtype='object')

In [13]:
df        # printing the datafrane after changing column names

        best_actor    movie_name  year
0       Will Smith  King Richard  2022
1  Anthony Hopkins    The Father  2021
2  Joaquin Phoenix         Joker  2020

In [14]:
df.columns = [x.upper() for x in df.columns]               # uppercase all columns names using list comprehension
df

        BEST_ACTOR    MOVIE_NAME  YEAR
0       Will Smith  King Richard  2022
1  Anthony Hopkins    The Father  2021
2  Joaquin Phoenix         Joker  2020

In [15]:
df.columns = df.columns.str.replace('_', ' ')             # replace underscore with empty space
df

        BEST ACTOR    MOVIE NAME  YEAR
0       Will Smith  King Richard  2022
1  Anthony Hopkins    The Father  2021
2  Joaquin Phoenix         Joker  2020

In [17]:
df.rename(columns={'BEST ACTOR': 'actor', 'MOVIE NAME': 'movie', 'YEAR': 'year'}, inplace=True)
df

             actor         movie  year
0       Will Smith  King Richard  2022
1  Anthony Hopkins    The Father  2021
2  Joaquin Phoenix         Joker  2020